/*
  Theme Name: Reveal
  Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: 'Gotham-Light.otf';
  src: url('../fonts/gotham_ssv/Gotham-Thin.otf');
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #444;
  font-family: 'Gotham-Light.otf';
  font-weight: 700 !important;
  overflow-x: hidden;
}

a {
  color: #00509f;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  /* background: #00509f; */
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 50%;
  /* bottom: 389px; */
  bottom: 65px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #00509f;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  /* background: #00509f; */
  color: #fff;
  background: unset !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #555;
}

#topbar .contact-info a:hover {
  color: #00509f;
}

#topbar .contact-info i {
  color: #00509f;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #00509f;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 10px 0;
  margin: 40px 0px;
  height: 100px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #00509f;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #00509f;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  /* width: 100%; */
  /* height: 60vh; */
  position: relative;
  /* background: url("../img/imag.png") no-repeat; */
  /* background-size: cover; */
  position: absolute;
  bottom: 0;
  top: 60%;
  /* left: 12px; */
}

#intro .intro-content {
  /* position: absolute; */
  /* bottom: 0; */
  /* top: 50%; */
  /* left: 0; */
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#intro .intro-content h2 {
  color: #00509f;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#intro .intro-content h2 span {
  color: #00509f;
  text-decoration: underline;
}

#intro .intro-content .btn-get-started,
#intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #00509f;
  border: 2px solid #00509f;
}

#intro .intro-content .btn-get-started:hover {
  background: #ffff;
  color: #00509f;
}

#intro .intro-content .btn-projects {
  background: #00509f;
  border: 2px solid #00509f;
}

#intro .intro-content .btn-projects:hover {
  background: none;
  color: #00509f;
}

#intro #intro-carousel {
  z-index: 8;
}

#intro #intro-carousel::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.nav-menu li:hover>a,
.nav-menu .menu-active>a {
  color: #00509f;
}

.nav-menu>li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #00509f;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #00509f;
}

#mobile-nav ul .menu-item-active {
  color: #00509f;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: #00509f;
  text-transform: unset;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #00509f;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

/* About Section
--------------------------------*/

#about {
  padding: 60px;
  background: #00509f;
  background: url('../img/background.jpg');
  color: #fff;
  padding-bottom: 40px;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

#about .content h2 {
  color: #00509f;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 29px;
}

#about .content p:last-child {
  margin-bottom: 0;
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
  width: 380px !important;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #00509f;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/* Services Section
--------------------------------*/

#services {
  padding: 30px 0 0 0;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #00509f;
  background: linear-gradient(45deg, #00509f 0%, #a3ebd5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 57px;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 55px;
  margin-bottom: 0;
  line-height: 24px;
  /* font-weight: normal !important; */
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 90px 0;
}

#clients img {
  /* max-width: 100%; */
  opacity: 0.5;
  transition: 0.3s;
  /* padding: 15px 0; */
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #00509f;
}

/* Our Portfolio Section
--------------------------------*/

#portfolio {
  background: #fff;
  padding: 30px 0;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#portfolio .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 30px 0;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

#testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #00509f;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: #081e5b;
  background-size: cover;
  padding: 40px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #00509f;
  border: 3px solid #00509f;
}

/* Our Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 30px 0 0 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  overflow: hidden;
  text-align: center;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member .details {
  background: #00509f;
  color: #fff;
  padding: 15px;
  border-radius: 0 0 3px 3px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 5px;
}

#team .member .social a {
  color: #fff;
}

#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/

#contact {
  padding: 30px 0;
}

#contact .contact-info {
  margin-bottom: 0px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #00509f;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 15px;
  color: #000;
  color: #fff;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #fff;
}

#contact .contact-info a:hover {
  color: #00509f;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 0px;
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #00509f;
  border: 1px solid #00509f;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  border: unset;
  border-bottom: 1px solid #00509f;
}

#contact .form button[type="submit"] {
  background: #000;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
}

#contact .form button[type="submit"]:hover {
  background: #00509f;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #00509f;
  padding: 45px 0;
  font-size: 14px;
  color: #fff;
  display: flex;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: left;
  font-size: 13px;
  color: #555;
}

#footer .credits a {
  color: #00509f;
}

@media (min-width: 768px) {

  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 45px;
  }

  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #header {
    padding: 20px 0;
    height: 74px;
  }

  #header #logo h1 {
    font-size: 34px;
  }

  #header #logo img {
    max-height: 40px;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 34px;
  }

  #services .box .box {
    margin-bottom: 20px;
  }

  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }

  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

@media (max-width: 576px) {
  #contact #google-map {
    margin-top: 20px;
  }
}

#topbar {
  background-color: #154e9d !important;
}

#intro .intro-content {
  /* left: 20px !important; */
  /* right:  unset; */
}

#intro .intro-content h2 {
  text-align: justify;
  font-size: 45px;
  width: auto;
  font-weight: bold;
  color: #fff;
}

#intro .btn-get-started {
  background: #ffffff;
  border: 1px solid #154e9d;
  color: #154e9d;
  /* font-weight: normal; */
  padding: 18px 23px;
}

.header-box {
  /* margin: 0 auto; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: auto !important; */
  /* position: relative; */
  /* background: inherit !important; */
  /* background-size: cover; */
}

.header-box {
  position: relative;
  /* bottom: 50px !important; */
}

.header-box .intro-content {
  /* position: relative !important; */
  /* left: 0px !important; */
  right: 0px unset;
  margin-right: 20px;
}

.intro-content.black-box {
  background: black;
  text-align: center;
  padding: 20px 0px;
  /* border-radius: 3px; */
}

.intro-content.black-box h2 {
  text-align: center !important;
  color: #fff !important;
}

#clients .box {
  background: url('../img/background.jpg');
  margin: 10px;
}

#clients .owl-nav {
  display: block;
}

#clients .box-text {
  color: #fff;
}

#clients button.owl-next {
  position: absolute;
  right: -20px;
  top: 30%;
  color: #154e9d;
  font-size: 35px !important;
}

#clients img {
  /* max-width: 100%; */
  opacity: 1 !important;
  transition: 0.3s;
  /* padding: 15px 0; */
}

.Management {
  background-color: #000;
  padding: 90px 0;
  padding-bottom: 0px !important;
}

.Management h2 {
  color: #fff;
}

.section-header h2:before {
  content: unset !important;
}

#contact .contact-info i {
  font-size: 29px;
  padding: 5px 0px;
  display: inline-block;
  margin-bottom: 8px;
  color: #ffffff;
  position: relative;
  top: 5px;
  right: 9px;
}

.contact-address {
  text-align: left;
  margin: 0px;
  /* color: #fff !important; */
  background: #00509f;
  width: 50%;
  margin-bottom: unset !important;
}

.contact-us {
  margin: 0 auto;
  width: 80%;
}

.contact-us button {
  /* display: flex; */
}

.container.contact-form,
.contact-data {
  padding: 100px 0px;
}

.map-box {
  width: 50%;
  margin-bottom: -6px !important;
}

.Management-team {
  display: flex;
  margin-top: 130px;
}

.box-image {
  /* background: #00509f !important; */
  /* padding: 80px; */
  /* width: 80%; */
  margin: auto;
  /* margin-right: -43px !important; */
}

.box-image img {
  margin: auto;
  display: flex;
  width: 100px;
}


.box-image.team-image {
  /* background: #0051b2;
  width: 100% !important;
  margin: auto;
  padding: 125px;
  padding: 0px !important; */
  /* padding: 125px; */
  /* width: 70% !important; */
}

.box-image.team-image img {
  position: relative;
  bottom: 32px;
  right: 61px;
  width: auto;
  z-index: 9;
  width: 90%;
}

.Directors {
  background: inherit !important;
}


.box.black-box-project.wow.fadeInLeft {
  background: black !important;
}

#services .box.black-box-project .icon {
  float: none !important;
}

#services {
  background: #e4e4e4 !important;
}


.box.wow.fadeInRight.project-box {
  padding: 0px !important;
  margin-bottom: 28px !important;
  box-shadow: unset !important;
  background: inherit !important;
}

/* .project-box1 {
  background: url('../img/layer.png');
  background-size: cover;
} */
.project-image img {
  max-width: 450px;
  padding: 50px;
  min-height: 450px;
}

.white-box {
  background-color: #fff !important;
  max-width: 190px;
  max-height: 170px;
  margin-right: 30px;
}

.intro-content.black-box {
  background: black;
  text-align: center;
  padding: 59px;
  /* border-radius: 3px; */
}

.intro-content.black-box h2 {
  text-align: justify;
  font-size: 30px;
  width: 208px;
  font-weight: bold !important;
}

.header-inner {
  background: url('../img/Certificate\ Pdddic\ 1.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}

#intro .intro-content h2 strong {
  font-weight: normal;
  font-size: 30px;
}

section#intro.header-box {
  position: absolute;
  top: 110%;
}

.white-box h2 {
  color: #00509f !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding-top: 20px;
}

.white-box .intro-content {
  position: relative !important;
  left: 0px !important;
  right: 0px unset !important;
  margin-right: 0px !important;
  padding-top: 25px;
}

.text-content {
  margin: 70px;
}


.Management-team .box-image.black-box {
  background: #000000;
  padding: 110px;
  width: 80%;
  margin: auto;
  height: 180px;
}

.box-image.team-image {
  position: relative !important;
  padding: unset;
  width: 250px;
  margin: auto;
  height: 250px;
  /* margin-left: -55px; */
}

.box-image.team-image:after {
  content: '';
  background: #0051b2;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 269px;
  top: -17px;
  right: 0px;
  z-index: 1;
}

.box-image.team-image-white:after {
  content: '';
  background: #0051b2;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 269px;
  top: -17px;
  right: 0px;
  z-index: 1;
}

.team-box-content {
  z-index: 9 !important;
  position: absolute;
  bottom: 0px;
  left: 12px;
  color: #fff;
}

.Management-team .box-image.black-box {
  background: #000000;
  /* padding: 110px; */
  width: 250px;
  margin: auto;
  height: 250px;
  position: relative;
}

.Management-team .box-image.black-box {
  background: #000000;
  padding: unset;
  width: 250px;
  margin: auto;
  height: 250px;
  position: relative;
  /* margin: 0px; */
  margin-right: -55px;
}

.Management-team .box-image.black-box img {
  position: absolute;
  top: 35%;
  right: 30%;
}


.box-image.team-image.last-child {
  margin-left: -50px !important;
}

.Management-team .box-image.yellow-box {
  background: #014da2;
  padding: unset;
  width: 250px;
  margin: auto;
  height: 253px;
  position: relative;
  /* margin: 0px; */
  margin-right: -55px;
}

.Management-team .box-image.yellow-box img {
  width: 30px !important;
  position: absolute;
  top: 10%;
  right: 45%;
}

.Management-team img {
  position: relative;
  bottom: 32px;
  right: 61px;
  width: auto;
  z-index: 9;
  width: 90%;
}

.Management-team .box-image.black-box img {
  position: absolute;
  top: 10%;
  right: 25%;
  width: 100px !important;
}


.box-image.team-image-white {
  padding: unset;
  width: 250px;
  margin: auto;
  height: 250px;
  position: relative;
  /* margin: 0px; */
  /* margin-right: 46px; */
}

.Management .team-box-content {
  z-index: 9 !important;
  position: absolute;
  bottom: -8px;
  left: 12px;
  color: #ffff;
}

.Management .team-image-white.last-child {
  margin-left: -50px !important;
}

.contact-address span {
  color: #fff;
  font-weight: 700;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-weight: 700 !important;
  opacity: 1;
  /* Firefox */
}

.contact-number {
  margin-top: 45px !important;
}

#contact .contact-info a:hover {
  color: #fff !important;
}

.contact-number p img {
  width: 25px;
  position: relative;
  top: -3px;
  right: 5px;
}

@media (max-width:767px) {
  #contact .contact-info div {
    display: block !important;
    width: 100% !important;
    padding: 30px;
    font-weight: bold !important;
  }

  .map-box {
    width: 100%;
    margin-bottom: 0px !important;
  }

  footer {
    display: block;
  }

  footer .pull-left {
    float: none !important;
  }

  footer .pull-right {
    float: none !important;
  }

  #footer .credits img {
    width: 300px !important;
  }


  .Management-team {
    display: block;
    margin-top: 100px;
  }


  .Management-team .box-image.yellow-box {
    background: #014da2;
    padding: unset;
    width: 250px;
    margin: auto;
    height: 250px;
    position: relative;
    /* margin: 0px; */
    margin-right: 19px;
    margin-bottom: 50px;
  }

  .box-image.team-image-white {
    padding: unset;
    width: 250px;
    margin: auto;
    height: 250px;
    position: relative;
    /* margin: 0px; */
    margin-right: 20px;
  }


  #clients img {
    /* max-width: 100%; */
    opacity: 1 !important;
    transition: 0.3s;
    /* padding: 15px 0; */
  }

  #clients img {
    /* max-width: 100%; */
    opacity: 0.5;
    transition: 0.3s;
    /* padding: 15px 0; */
  }

  .Management-team img {
    position: relative;
    bottom: 40px;
    right: 0px;
    width: auto;
    z-index: 9;
    width: 90%;
  }


  .Management .team-image-white.last-child {
    margin-left: 0px !important;
  }

  .Management .team-image-white.last-child {
    margin: 50px !important;
  }

  .Management .team-box-content {
    z-index: 9 !important;
    position: absolute;
    bottom: 0px;
    left: 60px;
    color: #014da2;
    text-align: center;
  }


  .Management-team .box-image.black-box {
    background: #000000;
    padding: unset;
    width: 250px;
    margin: auto;
    height: 250px;
    position: relative;
    /* margin: 0px; */
    margin: 0 auto;
  }

  .Management-team .box-image.team-image img {
    position: relative;
    bottom: 30px;
    right: 0px;
    width: auto;
    z-index: 9;
    width: 80%;

  }

  .box-image.team-image.last-child {
    margin: auto !important;
    margin-top: 50px !important;
  }

  .box-image.team-image {
    /* position: relative !important; */
    /* padding: unset; */
    /* width: 250px; */
    margin: auto;
    /* height: 250px; */
    margin-top: 40px;
  }


  #about {
    padding: 50px 0px;
    background: #00509f;
    color: #fff;
    margin: 0px auto;
  }

  #intro {
    position: absolute;
    bottom: 0;
    top: 30%;
  }


  section#intro.header-box {
    position: absolute;
    top: 75%;
  }

  .white-box {
    background-color: #fff !important;
    max-width: 100%;
    max-height: 100%;
    margin-right: 0px;
  }


  .project-image img {
    max-width: 330px;
    padding: 50px 0px;
    min-height: auto;
  }

}

#logo {
  position: relative;
  bottom: 15px;
}

.nav-menu li>a {
  color: #00509f;
  font-size: 21px;
}

#header-sticky-wrapper #header {
  padding: 10px 0;
  margin: 0px 0px;
  height: 100px;
}

.remove {
  display: none;
}

#intro .btn-get-started {
  background: #ffffff !important;
  border: 1px solid #00509f !important;
  color: #00509f !important;
  font-weight: bold;
  padding: 12px 23px;
  border-radius: 0px;
}

#intro .btn-get-started img {
  float: right;
  width: 40px;
  margin-left: 70px;
}

#about h2 {
  font-weight: 700 !important;
  margin-top: 50px;
}

#services .icon img {
  padding: 60px;
}

#services .box h4 a {
  color: #000000;
}

#services .box p {
  font-size: 14px;
  margin-left: 55px;
  margin-bottom: 0;
  color: black;
  line-height: 24px;
  /* font-weight: normal !important; */
}

#contact .contact-info {
  margin-bottom: 0px;
  text-align: center;
  margin: 90px;
}

.container.contact-form,
.contact-data {
  padding: 30px 0px;
}

.container.contact-form h3 {
  color: #00509f;
  font-weight: 700;
}

#footer {
  background: #00509f;
  padding: 45px 0;
  font-size: 14px;
  color: #fff;
  display: flex;
  position: relative;
}

.back-to-top {
  position: absolute;
}

#header {
  padding: 50px 0 !important;
  margin: 40px 0px;
  height: 150px !important;
}

.white-box h2 {
  font-weight: bold !important;
}

#clients h5,
#Management h5 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: unset !important;
}


span.country {
  position: relative;
  top: 20px;
}


.contact-number {
  margin-top: 65px !important;
}

@media(max-width:767px) {
  .black-box-content {
    background-color: #000 !important;
  }

  .header-box {
    position: absolute;
    right: 15px !important;
    left: unset;
  }

  #main {
    margin-top: 85%;
  }

  .text-content {
    margin: 0 auto !important;
  }

  #about .content p:last-child {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    width: auto !important;
  }


  .team-box-content {
    z-index: 9 !important;
    position: absolute;
    bottom: 10px;
    left: 45px;
    color: #fff;
    z-index: 9 !important;
    position: absolute;
    bottom: 15px;
    /* left: 36px; */
    /* color: #014da2; */
    /* text-align: center; */
  }
  #contact .contact-info {
    margin-bottom: 0px;
    text-align: center;
    margin: 0px;
}
#contact .contact-info div {
  display: block !important;
  width: 100% !important;
  padding: 30px;
  font-weight: bold !important;
}
  .map-box {
    width: 100%;
    margin-bottom: 0px !important;
    display: block !important;
    width: 100% !important;
    padding: 0px !important;
    font-weight: bold !important;
}

#intro .intro-content h2 {
  text-align: justify;
  font-size: 30px;
  width: auto;
  font-weight: bold;
  color: #fff;
}
.black-box h2{
  font-size: 40px;
  width: auto;
}
}
@media(max-width:991px) and (min-width:768px){

.white-box {
  background-color: #fff !important;
  max-width: 150px;
  max-height: 170px;
  margin-right: 15px;
}
.black-box h2 {
  text-align: justify;
  font-size: 36px !important;
}
.intro-content.black-box {
  background: black;
  text-align: center;
  padding: 30px;
}
#about {
  padding: 100px;
  background: #00509f;
  color: #fff;
  padding-bottom: 40px;
}
.text-content {
  margin: 20px;
} 
.text-content .content {
  margin-bottom: 25px;
}
#about h2 {
  font-weight: 700 !important;
  margin-top: 80px;
}


#services .box.black-box-project .icon {
  float: none !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Management-team > div {
  margin-right: 40px !important;
  margin-left: -7px !important;
}
.box-image.team-image.last-child {
  margin-left: 0px !important;
}
.Management .team-image-white.last-child {
  margin-left: 0px !important;
}
}
@media(max-width:320px){
  #footer .credits img {
    width: 250px !important;
}
#contact .contact-info div {
  padding: 15px;
}
.Management .team-image-white.last-child {
  margin: 50px 0px !important;
}
}

@media (max-width: 768px)
{
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 35px;
}


#header {
  padding: 60px 0 !important;
  margin: 40px 0px;
  height: 125px !important;
}
#header #logo img {
   max-height: 100%;
}


#header-sticky-wrapper #header {
  padding: 10px 0;
  margin: 0px 0px;
  height: 100px;
  padding-top: 50px !important;
}
.black-box-project {
  padding: 70px !important;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}


#services .box p {
  font-size: 14px;
  margin-left: 0px;
  margin-bottom: 0;
  color: black;
  line-height: 24px;
  text-align: justify;
  /* font-weight: normal !important; */
}

.header-box .intro-content {
  /* position: relative !important; */
  /* left: 0px !important; */
  right: 0px unset;
  margin-right: 0px;

}
#services .black-box-project .icon img {
  padding: 0px;
}
.black-box-project {
  padding: 50px !important;
}
.white-box {
  background-color: #fff !important;
  width: 33.3%;
  max-height: 100%;
  margin-right: 0px;
}
.header-box .intro-content img {
  width: 30px;
}
.header-box .intro-content img.img-res{
  width: 15px !important;
}
.white-box h2 {
  font-size: 15px !important;
}
section#intro.header-box {
  position: absolute;
  top: 75%;
}
#main {
  margin-top: 0%;
}
}
.test .black-box {
    background: #000 !important;
    padding: 80px;
    width: 80%;
    margin: auto;
    margin-right: -43px !important;
}
.owl-carousel .owl-nav button.owl-prev{
  display: none !important;
}
button.owl-next {
  position: absolute;
  right: -20px;
  top: 30%;
  color: #154e9d;
  font-size: 35px !important;
}

.test img {

  /* max-width: 100%; */
  opacity: 1 !important;
  transition: 0.3s;
  padding: 15px 0;
}

#mobile-nav-toggle i.fa-times {
  color: #fff;
}

.Management-team img {
  position: relative;
  bottom: 40px !important;
  right: 45px !important;
  width: auto;
  z-index: 9;
  width: 90% !important;
}
.owl-carousel .owl-nav.disabled{
  display: block !important;
}
.Management-team .owl-nav button{
     color: #FFFF !important;
    border: none;
    padding: 0!important;
    font: inherit;
    font-size: 50px !important;
}
.box-image.team-image-white {
  padding: unset;
  width: 250px;
  margin: auto;
  height: 250px;
  position: relative;
  /* margin: 0px; */
  margin-right: 70px;
}


.Management-team .box-image.yellow-box img {
  width: 30px !important;
  position: absolute;
  top: 10%;
  right: 40% !important;
}

@media (max-width:991px) and (min-width:768px){
  .test .black-box {
    background: #000 !important;
    padding: 40px;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 0px !important;
}
.box-image img {
  margin: auto;
  display: flex;
  width: auto;
  vertical-align: middle;
}


.box-image.team-image {
  position: relative !important;
  padding: unset;
  width: 215px;
  margin: auto;
  height: 215px;
  /* margin-left: -55px; */
}
#about {
  padding: 5px;
  background: #00509f;
  color: #fff;
  padding-bottom: 40px;
}
.box-image.team-image {
  position: relative !important;
  padding: unset;
  width: 215px;
  margin: auto;
  height: 215px;
  margin-left: 38px;
}
.test .black-box {
  background: #000 !important;
  padding: 40px;
  width: 215px;
  height: 215px;
  margin: auto;
  margin-right: 0px !important;
}
}
@media (max-width:767px){
  .test .black-box {
    background: #000 !important;
    padding: 80px;
    width: auto;
    margin: auto;
    margin-right: 0px !important;
}
.box-image.team-image img {
  position: relative;
  bottom: 45px;
  right: 9px;
  width: auto;
  z-index: 9;
  width: 85%;
}

#clients button.owl-next {
  position: absolute;
  right: 0px;
  top: 30%;
  color: #154e9d;
  font-size: 65px !important;
}
.Management-team .box-image.yellow-box {
  background: #014da2;
  padding: unset;
  width: 250px;
  margin: auto;
  height: 250px;
  position: relative;
  margin: 0px auto;
margin-bottom: 50px;  
}


.Management-team img {
    position: relative;
    bottom: 40px !important;
    right: 0px !important;
    width: auto;
    z-index: 9;
    width: 90% !important;
}
.box-image.team-image-white {
  padding: unset;
  width: 250px;
  margin: auto !important;
  height: 250px;
  position: relative;
 
}
/* .Management .team-image-white.last-child {
  margin: 0 !important;
} */
.Management .team-image-white.last-child {
  margin: auto !important;
}
}
/* .Management .team-image-white.last-child {
  margin-left: 0px !important;
} */
#Management .owl-item.active,#clients .owl-item.active {
  margin-right: 20px !important;
}


.Management-team .owl-nav button {
  color: #FFFF !important;
  border: none;
  padding: 0!important;
  font: inherit;
  font-size: 50px !important;
  position: absolute;
  right: -50px;
  top: 15%;
}


#clients button.owl-next {
  position: absolute;
  right: -46px;
  top: 20%;
  color: #154e9d;
  font-size: 35px !important;
}


.test .black-box {
  background: #000 !important;
  padding: 80px;
  width: 80%;
  margin: auto;
  margin-right: -43px !important;
  height: 252px;
}
@media (max-width:767px){

.test .black-box {
  background: #000 !important;
  padding: 80px;
  width: 80%;
  margin: auto;
  margin-right: 0px;
  height: 252px;
  margin: auto !important;
}
.Management-team {
  display: block;
  margin-top: 0px;
}
}

.box-image.team-image img {
  position: relative;
  bottom: 32px;
  right: 43px;
  width: auto;
  z-index: 9;
  width: 85%;
}

.Management-team {
  display: flex;
  margin-top: 0px;
}
#clients {
  padding: 90px 0;
  padding-bottom: 0px !important
}
.contact-address p b {
  font-size: 20px;
}
@media (min-width:1200px){
  .text-content {
     margin: 85px !important;
}
}

#clients,#Management{
  padding: 90px 0;
  /* padding-bottom: 0px !important;
  margin-bottom: -150px; */
}
@media(max-width:767px){
  #Management{
    padding: 90px 0;
     padding-bottom: 0px !important;
    margin-bottom: -40px;
  }
}
/* #Management {
  padding: 90px 0;
  padding-bottom: 0px !important;
  margin-bottom: -25px !important;
} */

@media (min-width: 992px) and (max-width:1200px)
{
  #about {
    padding: 175px;
    background: #00509f;
    background: url(../img/background.jpg);
    color: #fff;
    padding-bottom: 46px;
}
.text-content {
  margin: -20px !important;
  display: block;
  padding-top: 23px;
}
.text-content .pull-left{
  float: none !important;
}
.text-content .pull-right{
  float: none !important;
}
}
#contact {
  padding: 90px 0;
}
/* #Management {
  padding: 90px 0;
  padding-bottom: 0px !important;
  margin-bottom: -75px !important;
} */
@media (max-width: 991px) and (min-width: 768px)
{
  #about h2 {
    font-weight: 700 !important;
    margin-top: 130px;
}
}
#header-sticky-wrapper {
  height: 150px !important;
}
.white-box {
  transition: 0.4s;
}
.white-box:hover{
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

.owl-nav button:focus {
  outline: 1px dotted;
  outline: unset;
}
@media(max-width:767px){
  #contact .section-header h2 {
    text-align: center;
  }
  .map-box iframe{
    border: 0;
    width: auto;
  }
  #header-sticky-wrapper {
    height: 130px !important;
  }

.box-image.team-image img {
  position: relative;
  bottom: 32px;
  right: 0px;
  width: auto;
  z-index: 9;
  width: 85%;
}
}

.map-box {
  width: 48%;
  margin-bottom: -6px !important;
}

@media (max-width: 767px)
{
  .white-box h2 {
    font-size: 12px !important;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  padding: 13px;
}
}
@media (min-width:768px) and (max-width:991px){
  section#intro.header-box {
    position: absolute;
    top: 100%;
}
#header {
  padding: 60px 0 !important;
  margin: 40px 0px;
  height: 140px !important;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  padding: 8px;
}
.black-box img{
      width: 50% !important;
    position: absolute;
    top: 20%;
    right: 8% !important
}
.Management-team .box-image.yellow-box img {
  width: 30px !important;
  position: absolute;
  top: 10%;
  right: 50% !important;
}
.header-inner #intro{
  position: absolute;
  bottom: 0;
  top: 35%;
  left: -15px;
}

#intro .intro-content h2 {
  text-align: justify;
  font-size: 45px;
  width: auto;
  font-weight: bold;
  color: #fff;
  margin: 40px;
}


#intro .btn-get-started {
  background: #ffffff !important;
  border: 1px solid #00509f !important;
  color: #00509f !important;
  font-weight: bold;
  padding: 12px 23px;
  border-radius: 0px;
  position: relative;
  left: 30px;
}
#intro.header-box .intro-content h2 {
  text-align: justify;
  font-size: 45px;
  width: auto;
  font-weight: bold;
  color: #fff;
  margin: 0 !important;
}
/* section#intro.header-box {
  position: absolute;
  top: 110%;
  margin: 0 auto;
  display: flex;
} */

}

.director-box {
  margin: 0px 19px !important;
}
#clients {
  padding: 135px 0 !important;
  margin-bottom: 20px !important;
}


 
.box-image.team-image img {
    position: relative;
    bottom: 55px;
    right: 43px;
    width: auto;
    z-index: 9;
    width: 100%;
}
.box-image.team-image {
  position: relative !important;
  padding: unset;
  width: 214px;
  margin: auto;
  height: 230px;
  /* margin-left: -55px; */
}
.section-header h2 {
  font-size: 32px;
  color: #00509f;
  text-transform: unset;
  font-weight: 700;
  position: relative;
  padding-bottom: 45px;
}
.Management {
  background-color: #000;
  padding: 90px 0;
  padding-bottom: 90px !important;
  margin-bottom: 25px !important;
}
.box-image.team-image-white {
  padding: unset;
  width: 215px;
  margin: auto;
  height: 230px;
}

.Management-team img {
    position: relative;
    bottom: 40px !important;
    right: 45px !important;
    width: auto;
    z-index: 9;
    width: 100% !important;
}
@media (max-width:767px) {
  .director-box {
    margin: 30px 0px !important;
    padding-bottom: 35px;
}

 
.box-image.team-image img {
    position: relative;
    bottom: 78px;
    right: 0px;
    width: auto;
    z-index: 9;
    width: 100%;
}
.team-box-content {
  z-index: 9 !important;
  position: absolute;
  bottom: 10px;
  left: 14px !important;
  color: #fff;
  z-index: 9 !important;
  position: absolute;
  bottom: 15px;
}
.Management-team img {
  position: relative;
  bottom: 40px !important;
  right: 0px !important;
  width: auto;
  z-index: 9;
  width: 100% !important;
}
.Management .team-box-content {
  z-index: 9 !important;
  position: absolute;
  bottom: -12px;
  left: 60px;
  color: #ffffff;
  text-align: left;
}
}
#Management h2{
  color: #fff !important;
}
#services {
  padding: 90px 0 0 0;
}

#about .content p:last-child {
    margin-bottom: 0;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    width: 380px !important;
}

@media(max-width: 767px){

#about .content p:last-child {
    margin-bottom: 0;
    font-size: 15px;
    font-family: inherit;
    font-weight: normal;
     width: auto !important; 
}
#intro {
    position: absolute;
    bottom: 0;
    top: 60%;
}
}

@media (min-width: 768px) and (max-width: 991px){
  .director-box {
    margin: 40px 30px !important;
}
#contact .contact-info {
    margin-bottom: 0px;
    text-align: center;
    margin: 0px;
}
.header-inner #intro {
    position: absolute;
    bottom: 0;
    top: 60%;
    left: -15px;
}
#header-sticky-wrapper {
    height: 145px !important;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 40px;
}
#footer .copyright {
    text-align: center !important;
    padding-top: 30px;
    font-size: 25px;
}
footer .credits img {
  width: auto !important;
  margin: auto;
  display: flex !important;
}
#footer .copyright {
    text-align: center !important;
    padding-top: 30px;
    font-size: 25px;
    padding-bottom: 18px;
}
}
@media (min-width: 1200px){


#about h2 {
    font-weight: 700 !important;
    margin-top: 50px;
    position: relative;
    right: 50px;
    bottom: 0px;
}
.Management .team-box-content {
    z-index: 9 !important;
    position: absolute;
    bottom: -16px;
    left: 12px;
    color: #ffff;
}
#intro .intro-content h2 {
    text-align: justify;
    font-size: 60px;
    width: auto;
    font-weight: bold;
    color: #fff;
}
.Management-team img {
    position: relative;
    bottom: 40px !important;
    right: 45px !important;
    width: auto;
    z-index: 9;
    width: 90% !important;
}
}


a:hover, a:active, a:focus {
  color: #014da2;
}